<a href="https://colab.research.google.com/github/Nicolas9529/challenge2-data-science-LATAM/blob/main/TelecomX_LATAM.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#ðŸ“Œ ExtracciÃ³n

In [2]:
import pandas as pd

In [3]:
url= 'https://raw.githubusercontent.com/Nicolas9529/challenge2-data-science-LATAM/refs/heads/main/TelecomX_Data.json'
df = pd.read_json(url)
df

,customerID,Churn,customer,phone,internet,account
0,0002-ORFBO,No,"{'gender': 'Female', 'SeniorCitizen': 0, 'Part...","{'PhoneService': 'Yes', 'MultipleLines': 'No'}","{'InternetService': 'DSL', 'OnlineSecurity': '...","{'Contract': 'One year', 'PaperlessBilling': '..."
1,0003-MKNFE,No,"{'gender': 'Male', 'SeniorCitizen': 0, 'Partne...","{'PhoneService': 'Yes', 'MultipleLines': 'Yes'}","{'InternetService': 'DSL', 'OnlineSecurity': '...","{'Contract': 'Month-to-month', 'PaperlessBilli..."
2,0004-TLHLJ,Yes,"{'gender': 'Male', 'SeniorCitizen': 0, 'Partne...","{'PhoneService': 'Yes', 'MultipleLines': 'No'}","{'InternetService': 'Fiber optic', 'OnlineSecu...","{'Contract': 'Month-to-month', 'PaperlessBilli..."
3,0011-IGKFF,Yes,"{'gender': 'Male', 'SeniorCitizen': 1, 'Partne...","{'PhoneService': 'Yes', 'MultipleLines': 'No'}","{'InternetService': 'Fiber optic', 'OnlineSecu...","{'Contract': 'Month-to-month', 'PaperlessBilli..."
4,0013-EXCHZ,Yes,"{'gender': 'Female', 'SeniorCitizen': 1, 'Part...","{'PhoneService': 'Yes', 'MultipleLines': 'No'}","{'InternetService': 'Fiber optic', 'OnlineSecu...","{'Contract': 'Month-to-month', 'PaperlessBilli..."
...,...,...,...,...,...,...
7262,9987-LUTYD,No,"{'gender': 'Female', 'SeniorCitizen': 0, 'Part...","{'PhoneService': 'Yes', 'MultipleLines': 'No'}","{'InternetService': 'DSL', 'OnlineSecurity': '...","{'Contract': 'One year', 'PaperlessBilling': '..."
7263,9992-RRAMN,Yes,"{'gender': 'Male', 'SeniorCitizen': 0, 'Partne...","{'PhoneService': 'Yes', 'MultipleLines': 'Yes'}","{'InternetService': 'Fiber optic', 'OnlineSecu...","{'Contract': 'Month-to-month', 'PaperlessBilli..."
7264,9992-UJOEL,No,"{'gender': 'Male', 'SeniorCitizen': 0, 'Partne...","{'PhoneService': 'Yes', 'MultipleLines': 'No'}","{'InternetService': 'DSL', 'OnlineSecurity': '...","{'Contract': 'Month-to-month', 'PaperlessBilli..."
7265,9993-LHIEB,No,"{'gender': 'Male', 'SeniorCitizen': 0, 'Partne...","{'PhoneService': 'Yes', 'MultipleLines': 'No'}","{'InternetService': 'DSL', 'OnlineSecurity': '...","{'Contract': 'Two year', 'PaperlessBilling': '..."
7266,9995-HOTOH,No,"{'gender': 'Male', 'SeniorCitizen': 0, 'Partne...","{'PhoneService': 'No', 'MultipleLines': 'No ph...","{'InternetService': 'DSL', 'OnlineSecurity': '...","{'Contract': 'Two year', 'PaperlessBilling': '..."

#ðŸ”§ TransformaciÃ³n

Se normaliza cada una de las columnas del data frame original.

In [4]:
df_customer = pd.json_normalize(df['customer'])
df_phone = pd.json_normalize(df['phone'])
df_internet = pd.json_normalize(df['internet'])
df_account = pd.json_normalize(df['account'])

Ejemplo de data frame

In [5]:
df_customer

      gender  SeniorCitizen Partner Dependents  tenure
0     Female              0     Yes        Yes       9
1       Male              0      No         No       9
2       Male              0      No         No       4
3       Male              1     Yes         No      13
4     Female              1     Yes         No       3
...      ...            ...     ...        ...     ...
7262  Female              0      No         No      13
7263    Male              0     Yes         No      22
7264    Male              0      No         No       2
7265    Male              0     Yes        Yes      67
7266    Male              0     Yes        Yes      63

[7267 rows x 5 columns]

Concatenamos los df obteniendo del original el customer ID y Churn, el resto de columnas se obtienen de los data frames obtenidos anteriormente

In [6]:
df_completo = pd.concat([df[['customerID', 'Churn']], df_customer, df_phone, df_internet, df_account], axis=1)
df_completo

,customerID,Churn,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,...,OnlineBackup,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,Charges.Monthly,Charges.Total
0,0002-ORFBO,No,Female,0,Yes,Yes,9,Yes,No,DSL,...,Yes,No,Yes,Yes,No,One year,Yes,Mailed check,65.60,593.3
1,0003-MKNFE,No,Male,0,No,No,9,Yes,Yes,DSL,...,No,No,No,No,Yes,Month-to-month,No,Mailed check,59.90,542.4
2,0004-TLHLJ,Yes,Male,0,No,No,4,Yes,No,Fiber optic,...,No,Yes,No,No,No,Month-to-month,Yes,Electronic check,73.90,280.85
3,0011-IGKFF,Yes,Male,1,Yes,No,13,Yes,No,Fiber optic,...,Yes,Yes,No,Yes,Yes,Month-to-month,Yes,Electronic check,98.00,1237.85
4,0013-EXCHZ,Yes,Female,1,Yes,No,3,Yes,No,Fiber optic,...,No,No,Yes,Yes,No,Month-to-month,Yes,Mailed check,83.90,267.4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7262,9987-LUTYD,No,Female,0,No,No,13,Yes,No,DSL,...,No,No,Yes,No,No,One year,No,Mailed check,55.15,742.9
7263,9992-RRAMN,Yes,Male,0,Yes,No,22,Yes,Yes,Fiber optic,...,No,No,No,No,Yes,Month-to-month,Yes,Electronic check,85.10,1873.7
7264,9992-UJOEL,No,Male,0,No,No,2,Yes,No,DSL,...,Yes,No,No,No,No,Month-to-month,Yes,Mailed check,50.30,92.75
7265,9993-LHIEB,No,Male,0,Yes,Yes,67,Yes,No,DSL,...,No,Yes,Yes,No,Yes,Two year,No,Mailed check,67.85,4627.65
7266,9995-HOTOH,No,Male,0,Yes,Yes,63,No,No phone service,DSL,...,Yes,Yes,No,Yes,Yes,Two year,No,Electronic check,59.00,3707.6

Se obtiene el tipo de datos que se encuentran en cada una de las columnas

In [7]:
df_completo.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7267 entries, 0 to 7266
Data columns (total 21 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   customerID        7267 non-null   object
 1   Churn             7267 non-null   object
 2   gender            7267 non-null   object
 3   SeniorCitizen     7267 non-null   int64
 4   Partner           7267 non-null   object
 5   Dependents        7267 non-null   object
 6   tenure            7267 non-null   int64
 7   PhoneService      7267 non-null   object
 8   MultipleLines     7267 non-null   object
 9   InternetService   7267 non-null   object
 10  OnlineSecurity    7267 non-null   object
 11  OnlineBackup      7267 non-null   object
 12  DeviceProtection  7267 non-null   object
 13  TechSupport       7267 non-null   object
 14  StreamingTV       7267 non-null   object
 15  StreamingMovies   7267 non-null   object
 16  Contract          7267 non-null   object
 17  PaperlessBilling  7267 non-null   object
 18  PaymentMethod     7267 non-null   object
 19  Charges.Monthly   7267 non-null   float64
 20  Charges.Total     7267 non-null   object
dtypes: float64(1), int64(2), object(18)
memory usage: 1.2+ MB

Revisamos la cantidad de celdas con valores nulos y duplicados

In [8]:
print(df_completo.isnull().sum())

customerID          0
Churn               0
gender              0
SeniorCitizen       0
Partner             0
Dependents          0
tenure              0
PhoneService        0
MultipleLines       0
InternetService     0
OnlineSecurity      0
OnlineBackup        0
DeviceProtection    0
TechSupport         0
StreamingTV         0
StreamingMovies     0
Contract            0
PaperlessBilling    0
PaymentMethod       0
Charges.Monthly     0
Charges.Total       0
dtype: int64

In [9]:
print("Total de filas duplicadas:", df_completo.duplicated().sum())

Total de filas duplicadas: 0

Anteriormente no se encontraron duplicados ni valores nulos aparentes. No obstante, para asegurarnos de que estos datos no contengan errores ocultos, cambiaremos la columna Charges.Total a formato numÃ©rico (Debido a que esta debiese ser una columna de tipo int o float pero arroja que es object lo que nos da un indicio de datos no coherentes). Utilizando el parÃ¡metro errors='coerce', forzaremos que los espacios en blanco se transformen en verdaderos valores nulos (NaN).

In [10]:
df_completo['Charges.Total'] = pd.to_numeric(df_completo['Charges.Total'], errors='coerce')
print(f'Nulos descubiertos en Charges.Total: {df_completo['Charges.Total'].isnull().sum()}')
print(f'Clientes duplicados encontrados: {df_completo.duplicated().sum()}')

Nulos descubiertos en Charges.Total: 11
Clientes duplicados encontrados: 0

In [11]:
df_completo = df_completo.dropna(subset=['Charges.Total'])
df_completo.shape

(7256, 21)

Se encontraron 11 valores nulos los cuales son eliminados debido a que no causarÃ¡ un mayor impacto en el anÃ¡lisis ya que son menos del 1% del total de datos. A continuaciÃ³n, procedemos a inspeccionar toda la tabla y sus categorÃ­as utilizando la funciÃ³n unique(). Esto nos permite obtener los valores distintos presentes en cada columna de texto, con el objetivo de identificar anomalÃ­as, espacios en blanco o inconsistencias que deban ser corregidas.

In [12]:
print("REVISIÃ“N DE CATEGORÃAS EN TODA LA TABLA:")
for columna in df_completo.columns:
    if df_completo[columna].dtype == 'object' and columna != 'customerID':
        print(f"{columna}")
        print(df_completo[columna].unique())
        print("")

REVISIÃ“N DE CATEGORÃAS EN TODA LA TABLA:
Churn
['No' 'Yes' '']

gender
['Female' 'Male']

Partner
['Yes' 'No']

Dependents
['Yes' 'No']

PhoneService
['Yes' 'No']

MultipleLines
['No' 'Yes' 'No phone service']

InternetService
['DSL' 'Fiber optic' 'No']

OnlineSecurity
['No' 'Yes' 'No internet service']

OnlineBackup
['Yes' 'No' 'No internet service']

DeviceProtection
['No' 'Yes' 'No internet service']

TechSupport
['Yes' 'No' 'No internet service']

StreamingTV
['Yes' 'No' 'No internet service']

StreamingMovies
['No' 'Yes' 'No internet service']

Contract
['One year' 'Month-to-month' 'Two year']

PaperlessBilling
['Yes' 'No']

PaymentMethod
['Mailed check' 'Electronic check' 'Credit card (automatic)'
 'Bank transfer (automatic)']

La columna Churn es nuestra Variable Objetivo (Target). Dado que el propÃ³sito del proyecto es predecir el abandono de clientes, los registros con valores vacÃ­os no aportan informaciÃ³n Ãºtil para el aprendizaje del modelo. Mantenerlos introducirÃ­a ruido y reducirÃ­a la precisiÃ³n de las predicciones, por lo que la eliminaciÃ³n de estos 224 registros es necesaria para garantizar la calidad del set de datos.

In [13]:
vacios = (df_completo['Churn'] == '').sum()
print(f'Clientes vacios sin datos de Churn detectados: {vacios}')

df_completo = df_completo[df_completo['Churn'] != '']

print("\nCategorÃ­as en Churn despuÃ©s de limpiar:")
print(df_completo['Churn'].unique())

print(f"\nTamaÃ±o final de la base de datos limpia: {df_completo.shape}")

Clientes vacios sin datos de Churn detectados: 224

CategorÃ­as en Churn despuÃ©s de limpiar:
['No' 'Yes']

TamaÃ±o final de la base de datos limpia: (7032, 21)

Con los datos ya depurados, procedemos a realizar una columna nueva. En esta etapa, crearemos la nueva columna Cuentas_Diarias a partir de la facturaciÃ³n mensual (Charges.Monthly). El objetivo es obtener una mÃ©trica de consumo diario prorrateada (basada en un mes estÃ¡ndar de 30 dÃ­as), lo que nos permitirÃ¡ analizar el comportamiento del gasto de los clientes con un mayor nivel de detalle estadÃ­stico.

In [14]:
df_completo['Cuentas_Diarias'] = df_completo['Charges.Monthly'] / 30

df_completo['Cuentas_Diarias'] = df_completo['Cuentas_Diarias'].round(2)

print(df_completo[['customerID', 'Charges.Monthly', 'Cuentas_Diarias']].head())

   customerID  Charges.Monthly  Cuentas_Diarias
0  0002-ORFBO             65.6             2.19
1  0003-MKNFE             59.9             2.00
2  0004-TLHLJ             73.9             2.46
3  0011-IGKFF             98.0             3.27
4  0013-EXCHZ             83.9             2.80

#ðŸ“Š Carga y anÃ¡lisis

In [15]:
# EstadÃ­sticas de columnas numÃ©ricas
print("RESUMEN ESTADÃSTICO NUMÃ‰RICO:")
display(df_completo.describe().round(2))

# EstadÃ­sticas de columnas de texto
print("\nRESUMEN DE VARIABLES CATEGÃ“RICAS:")
display(df_completo.describe(include='object'))

RESUMEN ESTADÃSTICO NUMÃ‰RICO:

       SeniorCitizen   tenure  Charges.Monthly  Charges.Total  Cuentas_Diarias
count        7032.00  7032.00          7032.00        7032.00          7032.00
mean            0.16    32.42            64.80        2283.30             2.16
std             0.37    24.55            30.09        2266.77             1.00
min             0.00     1.00            18.25          18.80             0.61
25%             0.00     9.00            35.59         401.45             1.19
50%             0.00    29.00            70.35        1397.48             2.34
75%             0.00    55.00            89.86        3794.74             2.99
max             1.00    72.00           118.75        8684.80             3.96

RESUMEN DE VARIABLES CATEGÃ“RICAS:

,customerID,Churn,gender,Partner,Dependents,PhoneService,MultipleLines,InternetService,OnlineSecurity,OnlineBackup,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod
count,7032,7032,7032,7032,7032,7032,7032,7032,7032,7032,7032,7032,7032,7032,7032,7032,7032
unique,7032,2,2,2,2,2,3,3,3,3,3,3,3,3,3,2,4
top,9995-HOTOH,No,Male,No,No,Yes,No,Fiber optic,No,No,No,No,No,No,Month-to-month,Yes,Electronic check
freq,1,5163,3549,3639,4933,6352,3385,3096,3497,3087,3094,3472,2809,2781,3875,4168,2365

#ðŸ“„Informe final